@{
  Layout = "_Layout";
}
@using HairSalon.Models;
<h2>Stylist Profile</h2>
<hr />
<h3><b>@Model["stylist"].StylistName's clients:</b></h3>
<br>

  @if (@Model["clients"].Count == 0)
  {
    <h4><i>No Clients found</i></h4>
  }
else
{
  @foreach (Client client in @Model["clients"])
  {
    <h3>@Html.ActionLink($"{client.ClientName}", "Details", "Clients", new { id = client.ClientId })</h3>
  }
}

<hr />

<h4>@Html.ActionLink("Add Client", "Create", "Clients")</h4>
<h4>@Html.ActionLink("Edit Stylist", "Edit", new { id = @Model["stylist"].StylistId })</h4>
<h4>@Html.ActionLink("Delete Stylist", "Delete", new { id = @Model["stylist"].StylistId })</h4>
<h4>@Html.ActionLink("Stylist Overview", "Index")</h4>