@{
  Layout = "_Layout";
}
@using HairSalon.Models;
<h3>Stylist Profile</h3>
<hr />
<h3><b>@Model["stylist"].StylistName</b></h3>
<ul>
  @if (@Model["clients"].Count == 0)
  {
    <p>No Clients found</p>
  }
else
{
  <h4>Clients:</h4>
  @foreach (Client client in @Model["clients"])
  {
    <ul>@client.ClientName</ul>
  }
}

</ul>
<hr />

<p>@Html.ActionLink("Add Client", "Create", "Clients")</p>
<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = @Model["stylist"].StylistId })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = @Model["stylist"].StylistId })</p>
<p>@Html.ActionLink("Back to stylists", "Index")</p>
