@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist
<h2>Edit</h2>

<h3>Edit Stylist Profile: @Html.DisplayFor(model => model.StylistName)</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId, new { @class = "textBox" })
    @Html.LabelFor(model => model.StylistName, new { @class = "textBox" })
    @Html.EditorFor(model => model.StylistName, new { @class = "textBox" })

    <button class="btn btn-success" type="submit" value="Save">Button</button>
}
<h4>@Html.ActionLink("Back to stylists", "Index")</h4>
