@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;
@{
  Layout = "_Layout";
}
<h2>Stylists</h2>
<hr />

@* <form asp-controller="Stylists" asp-action="Index">
    <p>
        <input type="text" class="searchBar" name="SearchStylist" placeholder="Type Stylist Name Here">
        <button class="btn btn-success" type="submit" value="Filter">Find Stylist</button>
    </p>
</form> *@
@if (@Model.Count == 0)
{
<h3>The stylist list is empty!</h3>
}

@foreach (Stylist stylist in Model)
{
<h3><b>@Html.ActionLink($"{stylist.StylistName}", "Details", new { id = stylist.StylistId })</b></h3>
}

<hr />
<h4>@Html.ActionLink("Add New Stylist", "Create")</h4>
<h4>@Html.ActionLink("Delete All Stylists", "DeleteAll")</h4>
<h4>@Html.ActionLink("Home", "Index", "Home")</h4>
