@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client
<h2>New Client Form</h2>
<hr>

@using (Html.BeginForm())
{
    @Html.Label("clientname", "Full Name", new { @class = "textBox" })
    @Html.TextBoxFor(model => model.ClientName, new { placeholder = "Type Name here", @class = "textBox" })
    @Html.LabelFor(model => model.Stylist, new { @class = "textBox" })
    @Html.DropDownList("StylistId", null, new { @class = "textBox" })
    <br>
    <button class="btn btn-success" type="submit" value="Submit!" class="btn btn-default">Submit</button>
}

<hr />
<h4>@Html.ActionLink("Client Overview", "Index")</h4>