@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client
<h2>Client Profile</h2>
<hr />

<h3>@Html.DisplayFor(model => model.ClientName)</h3>

<hr />
<h4>@Html.ActionLink("Make Appointment", "Create", "Appointments")</h4>
<h4>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</h4>
<h4>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</h4>
<h4>@Html.ActionLink("Client Overview", "Index")</h4>
<h4>@Html.ActionLink("Home", "Index", "Home")</h4>
