@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client
<h2>Edit Client</h2>
<hr />

<h3>Edit: @Html.DisplayFor(model => model.ClientName)</h3>
<br>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ClientId, new { @class = "textBox" })
    @Html.LabelFor(model => model.ClientName, "Client Name", new { @class = "textBox" })
    @Html.EditorFor(model => model.ClientName, new { @class = "textBox" })
    @Html.LabelFor(model => model.Stylist, new { @class = "textBox" })
    @Html.DropDownList("StylistId")
    <br>
    <button class="btn btn-success" type="submit" value="Save">Submit</button>
}
<hr />
<h4>@Html.ActionLink("Back Clients", "Index")</h4>
